a {
    text-decoration: none;
}

body {
    margin: 0;
}

.inner_header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding: 10px 5px;
}

.about a{
    font-family: "Montserrat", Helvetica, "Helvetica Neue", Arial, sans-serif;;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.about {
    margin: 0;
    padding: 0;
    padding-right: 100px;
}

.sections_and_social {
    display: flex;
}
li.sections_item {
    display: inline;
}

.sections_item a {
    color: rgb(141, 141, 141);
    text-transform: uppercase;
    font-size: 12px;
}

.sections_item a:hover {
    color: black;
}

.social {
    display: flex;
    gap: 10px;
}

.social_item img {
    height: 15px;
    object-fit: cover;
}

.main_quote_img img{
    max-width: 100%;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/about/montserrat-variablefont_wght.woff2') format('woff2'),
         url('/about/montserrat-variablefont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}