h1 {
    font-family: "Montserrat", Helvetica, "Helvetica Neue", Arial, sans-serif;;
    font-weight: 500;
    font-size: 15px;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 40px
}

h1 {
}

.menu_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.menu_element {
    text-transform: uppercase;
    font-size: 10px;
    display: inline-block;
}

.menu_element a {
    text-decoration: none;
    color: rgb(141, 141, 141);
}

@font-face {
    font-family: 'montserrat';
    src: url('montserrat-variablefont_wght.woff2') format('woff2'),
         url('montserrat-variablefont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}