a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.55;
    font-size: 16px;
}

.header {
}

.inner_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em 1em;
    /* Поправить после введения медиавыражения */
    column-gap: 90px;
}

.about a{
    font-family: "Montserrat", Helvetica, "Helvetica Neue", Arial, sans-serif;;
    font-weight: bold;
    font-size: 16px;
}

.about {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    margin-bottom: 2px;
    margin-top: 16px;
    justify-self: flex-start;
}

.sections_and_social {
    display: flex;
    align-items: baseline;
    gap: 250px;
}

.sections {
    display: flex;
    margin-bottom: 7px;
}

li.sections_item {
    display: inline-block;
}

.sections_item a {
    color: rgb(141, 141, 141);
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px;
}

.sections_item a:hover {
    color: black;
}

.social {
    display: flex;
    gap: 12px;
}

.social_item img {
    height: 15px;
    object-fit: cover;
}

.main_quote_img img{
    max-width: 100%;
}

.flex_wrapper {
    width: 760px;
    margin: 0 auto;
}

.regular_cite_flow {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flora {
    display: flex;
    align-items: center;
    border-bottom: solid grey 3px;
    gap: 10px;
}

.flora figure {
    margin: 0;
}

.flora img{
    width: 260px;
    height: auto;
}

.flora figcaption {
    font-size: .61em;
}

.flora_right cite {
    font-size: 0.75em;
    line-height: 7px;
}




@font-face {
    font-family: 'Montserrat';
    src: url('/about/montserrat-variablefont_wght.woff2') format('woff2'),
         url('/about/montserrat-variablefont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}