.main_quote_img {
    max-width: 100%;
}


.flora {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.flora figure {
    margin: 0;
}

.flora img{
    width: 260px;
    height: auto;
}

.flora figcaption {
    font-size: .61em;
}

.flora figcaption p {
    margin: 0;
}

.flora_right cite {
    font-size: 0.75em;
    font-style: normal;
    padding-top: 10px;
    display: inline-block;
    line-height: 1.4;
    margin-top: 1em;
}

.cindy_middle_img {
    min-width: 760px;
    padding: 25px 0;
}

.about_patricia {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 20px;
}

.about_patricia_text {
    text-align: center;
    padding-bottom: 30px;
}

.awards {
    margin-top: 25px;
    margin-bottom: 10px;
}

.about_patricia ul {
    padding: 0;
    margin: 0;
}

.about_patricia li {
    list-style: none;
    text-align: center;
}

.book_conscience_the_origins {
    margin-top: 15px;
    width: 100%;
}

.book_conscience_the_origins img {
    margin: 10px auto 0 0;
}

.about_book {
    padding-bottom: 10px;
}

.about_book h3 {
    font-size: 18px;
}

.book_reviews {
    margin: 25px 0 45px;
}
.review h6 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.review p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 12px;
}

.review .full_review_link {
    font-size: 12px;
    color: black;
}

.review .full_review_link:hover {
    color: #a29377;
}

.review .full_review_link:visited {
    color: #a29377;
}

.book_reviews a.link_to_purchase {
    font-size: .70em;
}

.books_section {
    margin-top: 10px;
}

.books_header {
    margin-bottom: 10px;
}

.books_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch;
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 55px;
}

.books_grid img {
    margin: 0;
    width: 100%;
    height: auto;
}

.books_grid h6 {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}

.books_grid figcaption {
    font-size: 12px;
}

.contact_section {
    min-width: 740px;
    text-align: center;
    padding: 10px 0 20px;
}

.ending_image {
    width: 740px;
    margin: 50px 0 30px;
}

.ending_image img {
    width: 100%;
    height: auto;
}

.text_on_end_img {
    width: 12em;
    position: absolute;
    padding-left: 375px;
    padding-top: 200px;
    z-index: 1;
    display: block;
    font-family: 'timelessregular';
    font-size: 1.5em;
    color: white; 
}

.end_img_txt_newline {
    display: block;
    padding-top: 1.2em;
}

@font-face {
    font-family: 'timelessregular';
    src: url('../../fonts/timeless-webfont.woff2') format('woff2'),
         url('../../fonts/timeless-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}