.main_quote_img {
    width: 100%;
    height: 75vw;
    object-fit: cover;
}

.main_quote {
    width: 15em;
    position: absolute;
    padding-left: 10vw;
    padding-top: 35vw;
    z-index: 1;
    display: block;
    font-family: 'anglecia_pro_displayregular';
    font-size: 3.8vw;
    letter-spacing: 0.5px;
    color: white; 
    line-height: 1.2;
}

.main_quote_newline {
    display: inline-block;
}

.flora {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.flora figure {
    margin: 0;
    margin-top: 135px;
    align-self: flex-start;
}

.flora img{
    width: 240px;
    height: auto;
}

.flora figcaption {
    font-size: .61em;
    margin-top: 15px;
}

.flora figcaption p {
    margin: 0;

}

.flora_right p {
    margin: 20px 0; 
}

.flora_right cite {
    font-size: 0.75em;
    font-style: normal;
    padding-top: 10px;
    display: block;
    line-height: 1.4;
    margin-top: 1em;
}

.cindy_middle_img {
    min-width: 728px;
    padding: 25px 0 35px;
}

.about_patricia {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 20px;
}

.about_patricia_text {
    text-align: center;
    padding-bottom: 30px;
}

.awards {
    margin-top: 25px;
    margin-bottom: 10px;
}

.about_patricia ul {
    padding: 0;
    margin: 0;
}

.about_patricia li {
    list-style: none;
    text-align: center;
}

.book_conscience_the_origins {
    margin-top: 15px;
    width: 100%;
}

.book_conscience_the_origins img {
    margin: 10px auto 0 0;
    width: 100%;
    height: auto;
    max-width: 470px;
}


.about_book {
    padding-bottom: 10px;
}

.about_book h3 {
    font-size: 18px;
}

.book_reviews {
    margin: 25px 0 45px;
}
.review h6 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.review p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 12px;
}

.review .full_review_link {
    font-size: 12px;
}

.book_reviews a.link_to_purchase {
    font-size: .70em;
    font-weight: bold;
}

.books_section {
    margin-top: 10px;
}

.books_header {
    margin-bottom: 10px;
}

.books_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch;
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 55px;
}

.books_grid img {
    margin: 0;
    width: 100%;
    height: auto;
}

.books_grid h6 {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}

.books_grid figcaption {
    font-size: 12px;
}

.contact_section {
    min-width: 728px;
    text-align: center;
    padding: 10px 0 20px;
}

.ending_image {
    width: 728px;
    margin: 50px 0 30px;
}

.ending_image img {
    width: 100%;
    height: auto;
}

.text_on_end_img {
    width: 14em;
    position: absolute;
    padding-left: 370px;
    padding-top: 210px;
    z-index: 1;
    display: block;
    font-family: 'anglecia_pro_displayregular';
    font-size: 22px;
    color: white; 
    line-height: 1.2;
}

.end_img_txt_newline {
    display: block;
    padding-top: 1.2em;
}

@font-face {
    font-family: 'anglecia_pro_displayregular';
    src: url('../../fonts/anglecia-pro-display-webfont.woff2') format('woff2'),
         url('../../fonts/anglecia-pro-display-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media screen and (min-width: 1280px) {
    .main_quote_img {
        width: 100%;
        height: 718px;
        object-fit: cover;
    }

    .main_quote {
        padding-left: 8vw;
        padding-top: 350px;
        font-size: 3.5vw;
    }

    .flora {
        gap: 40px;
    }

    .flora img {
        width: 413px;
    }

    .flora figure {
        margin-top: 35px;
    }

    .cindy_middle_img {
        min-width: 1248px;
    }

    .contact_section {
        min-width: 1248px;
    }

    .ending_image {
        min-width: 1248px;
    }

    .text_on_end_img {
        padding-left: 630px;
        padding-top: 355px;
        font-size: 37px;
    }
}



@media screen and (min-width: 1030px) and (max-width: 1280px) {
    .main_quote_img {
        width: 100%;
        height: 53.9vw;
        object-fit: cover;
    }

    .main_quote {
        padding-left: 8vw;
        padding-top: 25vw;
        font-size: 3.5vw;
    }

    .flora img {
        width: 340px;
    }

    .cindy_middle_img {
        min-width: 998px;
    }

    .contact_section {
        min-width: 998px;
    }

    .ending_image {
        min-width: 998px;
    }

    .text_on_end_img {
        padding-left: 505px;
        padding-top: 290px;
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .flora {
        flex-direction: column;
    }

    .flora img {
        width: 46vw;
    }
    
    .flora figure {
        margin: 0;
    }

    .flora {
        margin-top: 0;
    }

    .cindy_middle_img {
        min-width: 100%;
        padding: 25px 0;
    }

    .books_grid {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .contact_section {
        min-width: 100%;
    }

    .ending_image {
        width: 100%;
        margin-top: 25px;
    }


    .text_on_end_img {
        font-size: 3vw;
        padding-left: 46.5vw;
        padding-top: 25vw;
    }
}