.regular_site_flow {
    width: 728px;
    margin: 50px auto;
    gap: 40px;
}

.videos_header {
    width: 100%;
    margin: 0;
    font-size: 19px;
    font-weight: normal;
    padding-bottom: 10px;
}

.video {
    width: 100%;
}

.iframe_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 57%
}

.square {
    padding-top: 75%;
}

.video_iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1280px) {
    .regular_site_flow {
        width: 1068px;
    }
}

@media screen and (min-width: 1030px) and (max-width: 1280px) {
    .regular_site_flow {
        width: 998px;
    }
}

@media screen and (max-width: 767px) {
    .regular_site_flow {
        width: 92.2vw;
    }
}