.main_img {
    width: 760px;
    margin: 20px auto 0 auto;
    padding-bottom: 10px;
}

.main_img img {
    width: 100%;
}

.main_img_figcaption {
    text-align: end;
    font-size: 0.58em;
    text-transform: uppercase;
}