article.regular_site_flow {
    margin-bottom: 60px;
}

.main_img_figure {
    width: 760px;
    margin: 20px auto 0 auto;
    padding-bottom: 10px;
}

.main_story {
    margin-top: 40px;
}

.story_header {
    margin: 0;
    margin-bottom: 25px;
    font-size: 18px;
}

.main_story_text {
    margin: 0;
    font-size: 18px;
    margin-bottom: 20px;
}

.story_continuation {
    display: flex;
    gap: 25px;
}

.brain_images {
    display: flex;
    flex-direction: column;
    width: 140px;
    gap: 15px;
}

.brain_img_description {
    font-size: 12px;
    line-height: 2em;
}

.story_cont_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.story_cont_text p {
    margin: 0;
}

.pat_sign {
    align-self: flex-end;
}

@media screen and (min-width: 1280px) {
    .brain_images {
        width: 242px;
    }
}

@media screen and (min-width: 1030px) and (max-width: 1280px) {
    .brain_images {
        width: 198px;
    }
}

@media screen and (max-width: 767px) {
    .brain_images {
        display: none;
    }
}