.main_img_figure {
    padding-bottom: 20px;
}

.regular_site_flow {
    gap: 50px;
    margin-bottom: 80px;
}

.one_book {
    display: flex;
    align-items: flex-start;
    gap: 35px;
}

.book_img {
    width: 205px;
}

.book_name_and_discr {
    margin-bottom: 25px;
}

.book_header {
    margin: 0 0 0;
}

.about_book_text {
    margin-bottom: 20px;
}

.book_awards {
    font-weight: bold;
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin: 10px 0 20px;
    list-style: none;
}

.book_reviews {
    list-style: none;
    margin: 0;
    padding: 0;
}

.review {
    margin-bottom: 20px;
}

.reviewer {
    margin: 0;
    font-weight: bold;
}

.review_text {
    margin: 0;
    font-size: 12px;
}

.full_review_link {
    display: block;
}

.link_to_purchase {
    font-size: 12px;
    font-weight: bold;
}