a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #a29377;
}

a:visited {
    color: #a29377;
}

.reversed_colors {
    color: #a29377;
}

.reversed_colors:hover {
    color: black;
}

h2 {
    font-weight: normal;
    font-size: 18px;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.55;
    font-size: 16px;
    color: #555353;
}

h3 {
    font-weight: normal;
}

figure {
    margin: 0;
}

main {
    min-height: 80vh;
    hyphens: auto;
}

.separator_border_4_top {
    max-width: 100%;
    border-top: #e8e8e8 solid 4px;
}

.separator_border_4_bottom {
    max-width: 100%;
    border-bottom: #e8e8e8 solid 4px;
}

.separator_border_2_5_bottom {
    max-width: 100%;
    border-bottom: #e8e8e8 solid 2.5px;
}
.separator_border_1_bottom {
    max-width: 100%;
    border-bottom: #e8e8e8 solid 1px;
}

.main_img_figure {
    width: 704px;
    margin: 33px auto 45px auto;
}

.main_img {
    width: 100%;
}

.main_img_figcaption {
    margin-top: 10px;
    text-align: end;
    font-size: 0.58em;
    text-transform: uppercase;
}

.regular_site_flow {
    width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

@media screen and (min-width: 1030px) {
    .regular_site_flow {
        width: 900px;
    }
}

@media screen and (max-width: 767px) {
    .regular_site_flow {
        width: 92.2vw;
    }
}