a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #a29377;
}

a:visited {
    color: #a29377;
}

h2 {
    font-weight: normal;
    font-size: 18px;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.55;
    font-size: 16px;
}

h3 {
    font-weight: normal;
}

figure {
    margin: 0;
}
.header {
    background-color: #fafafa;
}

.inner_header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em 1em;
    margin-right: auto;
    margin-left: auto;
    /* Поправить после введения медиавыражения */
    column-gap: 90px;
    width: min-content;
}

.about a{
    font-family: "Montserrat", Helvetica, "Helvetica Neue", Arial, sans-serif;;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.about a:visited {
    color: black;
}

.about {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    margin-bottom: 2px;
    margin-top: 16px;
    justify-self: flex-start;
}

.sections_and_social {
    display: flex;
    align-items: baseline;
    gap: 250px;
}

.sections {
    display: flex;
    margin-bottom: 7px;
}

li.sections_item {
    list-style: none;
}

.sections_item a {
    color: rgb(141, 141, 141);
    text-transform: uppercase;
    font-size: 12px;
    padding: 8px;
    letter-spacing: 0.07em;
}

.sections_item a:hover {
    color: black;
}

.social {
    display: flex;
}

.social a {
    padding-left: 12px;
}

.social img {
    height: 15px;
    object-fit: cover;
}

.main_quote_img img{
    max-width: 100%;
}

.regular_site_flow {
    width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: visible;
}

.flora {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.flora figure {
    margin: 0;
}

.flora img{
    width: 260px;
    height: auto;
}

.flora figcaption {
    font-size: .61em;
}

.flora_right cite {
    font-size: 0.75em;
    font-style: normal;
    padding-top: 10px;
    display: inline-block;
    line-height: 1.4;
    margin-top: 1em;
}

.cindy_middle_img {
    min-width: 760px;
}

.cindy_middle_img img {
    max-width: 100%;
}

.block_separator_border_top {
    max-width: 100%;
    padding-top: 25px;
    border-top: rgb(187, 187, 187) solid 4px;
}

.block_separator_border_bottom {
    max-width: 100%;
    padding-bottom: 35px;
    border-bottom: rgb(187, 187, 187) solid 4px;
}

.section_separator_border_bottom {
    max-width: 100%;
    padding-bottom: 35px;
    border-bottom: rgb(187, 187, 187) solid 2px;
}

.about_patricia {
    text-align: center;
}

.about_patricia p{
    text-align: center;
    margin-bottom: 4em;
}

.about_patricia h3 {
    margin-bottom: 10px;
}

.about_patricia ul {
    padding: 0;
    margin: 0;
}

.about_patricia li {
    list-style: none;
    text-align: center;
}

.book_conscience_the_origins {
    width: 100%;
}

.book_conscience_the_origins img {
    margin: 10px auto 0 0;
}

.about_book h3 {
    font-size: 18px;
}

.book_reviews {
    margin: 25px 0 10px;
}
.book_reviews h6 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.book_reviews p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 12px;
}

.review .full_review_link {
    font-size: 12px;
    color: black;
}

.review .full_review_link:hover {
    color: #a29377;
}

.review .full_review_link:visited {
    color: #a29377;
}

.book_reviews a {
    font-size: .70em;
}

.books_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch;
    justify-content: flex-start;
    gap: 24px;
}

.books_grid img {
    margin: 0;
    width: 100%;
    height: auto;
}

.books_grid h6 {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}

.books_grid figcaption {
    font-size: 12px;
}

.contact_section {
    min-width: 740px;
    text-align: center;
}

.ending_image {
    width: 740px;
    margin: 40px 0;
}

.ending_image img {
    width: 100%;
    height: auto;
}

.inner_footer {
    background-color: #f5f5f5;
    border-top: 1px solid #e8e8e8;
    padding-bottom: 10px;
    padding-top: 5px;
}

.copyright {
    margin: 0;
    font-size: 12px;
    padding-left: 40px;
    color: rgb(85, 83, 83);
    padding-bottom: 10px;
}

a.selected {
    color: black;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-variablefont_wght.woff2') format('woff2'),
         url('../fonts/montserrat-variablefont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}