article a {
    font-weight: bold;
}

.main_img_figure {
    width: 728px;
    margin: 45px auto 65px;
    display: block;
}

.published_header {
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}
.publication_history {
    width: 100%;
    margin: 0;
    margin-top: 30px;
}

.pub_for_a_one_year {
    margin-bottom: 25px;
}

.year_header {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.pub_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.one_pub {
    margin-bottom: .7em;
    font-size: 12px;
}

.pub_link {
    font-style: normal;
    display: block; 
}

.pub_link.disabled {
    pointer-events: none;
}

.disabled:hover {
    color: black;
}

.additional_info {
    display: block; 
}

.pub_cite {
    display: block; 
    font-style: normal;
}

.one_pub ::before {
    font-style: italic;
    font-weight: normal;
    color: #555353;
}

.foreward::before {
    content: "Foreward: ";
}

.podcast::before {
    content: "Podcast: ";
}

.opinion::before {
    content: "Opinion: ";
}

.review::before {
    content: "Review: ";
}

.reprint::before {
    content: "Reprint: ";
}

.translations::before {
    content: "Translations: "
}

.description {
    font-style: italic;
}