.main_img {
    width: 728px;
    margin: 45px auto 65px;
    display: block;
}

.published_header {
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}
.publication_history {
    width: 100%;
    margin: 50px 0;
}